<!DOCTYPE html>
<html>

<head>
    <title>[TTL] Profile Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../views/styles/styles.css">
</head>

<body>
    <%- include('navbar.ejs') %>
        <%- include('./micro_roommate.ejs'); -%>
            <% if(locals.message){ %>
                <div class="alert <%= locals.messageClass %>" role="alert">
                    <%= locals.message %>
                </div>
                <% } %>
                    <div class="login-form">
                        <form method="POST" id="profile-form" action="/profile">
                            <div class="vflex">
                                <div class="profile-form-pair">
                                    <label for="profile-name">NAME</label>
                                    <input name="profile-name">
                                </div>
                                <div class="profile-form-pair">
                                    <label for="profile-phone_number">PHONE NUMBER</label>
                                    <input name="profile-phone_number">
                                </div>
                                <div class="profile-form-pair">
                                    <label for="profile-year">YEAR</label>
                                    <select name="profile-year">
                                        <option value="freshman">Freshman</option>
                                        <option value="sophomore">Sophomore</option>
                                        <option value="junior">Junior</option>
                                        <option value="senior">Senior</option>
                                    </select>
                                </div>
                                <div class="profile-form-pair">
                                    <label for="profile-team">TEAM</label>
                                    <select name="profile-team">
                                        <option value="mlx">MLX</option>
                                    </select>
                                </div>
                                <div class="profile-form-pair">
                                    <label for="profile-lifttime">PREFERRED LIFT TIME</label>
                                    <select name="profile-lifttime">
                                        <option value="7:30">7:30am</option>
                                        <option value="8:30">8:30am</option>
                                    </select>
                                </div>
                                
                                <div class="profile-form-pair">
                                    <label for="room-datalist">SELECT A ROOM (or create new):</label>
                                    <input list="all-rooms" id="room-datalist" name="room-datalist" placeholder="Search for room">
                                    <datalist id="all-rooms">
                                        <% if(locals.dataAllRooms){ %>
                                            <% let roomsRaw = Object.values(locals.dataAllRooms); %>
                                            <% console.log("Rooms raw: "); %>
                                            <% console.log(roomsRaw) %>
                                            <% for(let i = 0; i < roomsRaw.length; i++) { %>
                                                <% console.log(roomsRaw[i]) %>
                                            <option value='<%- roomsRaw[i]["name"] %>'>
                                            <% } %>
                                        <% } %>
                                    </datalist>
                                </div>
                                <div class="hflex" id="roommate-alert-div">

                                </div>
                                <button id="add-roommate-btn" class="btn-primary" type="button">ADD ROOMMATE</button>



                                <div class="hflex" id="micro-roommate-container">

                                </div>
                                <button type="submit" class="btn btn-primary button signin-form-submit">SAVE</button>
                            </div>
                        </form>
                    </div>

                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
                    <script src="/views/profile.js" type="application/javascript"></script>

</body>
<% if(typeof user !==undefined) { %>
    <script>
        var username = '<%- JSON.stringify(locals.dataName).slice(1,-1) %>'
        var phone_number = '<%- JSON.stringify(locals.dataPhoneNumber).slice(1,-1) %>'
        var year = '<%- JSON.stringify(locals.dataYear).slice(1, -1) %>'
        var team = '<%- JSON.stringify(locals.dataTeam).slice(1, -1) %>'
        var roommates = '<%- JSON.stringify(locals.dataRoommates) %>'
        var lifttime = '<%- JSON.stringify(locals.dataLifttime).slice(1, -1) %>'
    </script>
    <% } %>

</html>